{% autoescape off %}
<p>Hello {{ user.username }},</p>

<p>This is a confirmation that the password for your account at {{ domain }} has been changed.</p>

<p><strong>Change Details:</strong></p>
<ul>
    <li>Time: {{ timestamp }}</li>
    <li>IP Address: {{ ip_address }}</li>
</ul>

<p><strong>Security Recommendations:</strong></p>
<ol>
    <li>Keep your password confidential</li>
    <li>Use a unique password for this account</li>
    <li>Change your password regularly (but not more than once per day)</li>
    <li>Enable two-factor authentication if available</li>
</ol>

<p>If you didn't request this change, please contact our support team immediately at <a href="mailto:support@{{ domain }}">support@{{ domain }}</a>.</p>

<p>You can login at: <a href="{{ protocol }}://{{ domain }}{% url 'accounts:login' %}">{{ protocol }}://{{ domain }}{% url 'accounts:login' %}</a></p>

<p>Thank you,<br>
The {{ domain }} Team</p>
{% endautoescape %}